
body{
   font-family:Arial,sans-serif;
   padding:20px;
   padding-top:500px;
}
.container{
   display:flex;
   gap:20px;
   align-items:flex-start;
}
table{
   border-collapse:collapse;
   font-size:20px;
   max-width:100%;
   overflow-x:auto; 
   display:block;
   margin-top:20px;
}
td{
   border:1px solid #999;
   padding:4px 6px;
   text-align:center;
}
.editorBox{
   min-width:220px;
}
  /* 手機 RWD */
@media (max-width: 768px) {
   .container {flex-direction: column;}
   .editorBox {order: -1; margin-bottom: 20px;}

}








